<nav class="navbar">
  <div class="nav-container">
    <div class="logo" (click)="scrollTo('home')">
      <h2>EDJ<span>.</span></h2>
    </div>
    
    <div class="desktop-menu">
      <ul>
        <li *ngFor="let item of menuItems">
          <a (click)="scrollTo(item.link)">
            <i nz-icon [nzType]="item.icon"></i>
            {{ item.label }}
          </a>
        </li>
      </ul>
    </div>
    
    <div class="mobile-menu">
      <button nz-button nzType="text" (click)="isVisible = true">
        <i nz-icon nzType="menu"></i>
      </button>
      
      <nz-drawer
        [nzVisible]="isVisible"
        nzPlacement="right"
        (nzOnClose)="isVisible = false">
        <ul class="mobile-nav-items">
          <li *ngFor="let item of menuItems">
            <a (click)="scrollTo(item.link)">
              <i nz-icon [nzType]="item.icon"></i>
              {{ item.label }}
            </a>
          </li>
        </ul>
      </nz-drawer>
    </div>
  </div>
</nav>